INSTALLER_UI=silent

USER_INSTALL_DIR=C:\\Program Files\\BAE SYSTEMS\\SOCET GXP 4.2.0 PostgreSQL

PORT_NUMBER=8016
PORT_NUMBER_1=8016
PORT_NUMBER_BOOLEAN_1=

USER_DATA_DIR=C:\\Program Files\\BAE SYSTEMS\\SOCET GXP 4.2.0 PostgreSQL\\data

-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\Remove\ SOCET\ GXP\ 4.2.0\ PostgreSQL\ Installation.lax=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\resource\\iawin64_x64.dll=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\resource\\iawin32.dll=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\resource\\win64_32_x64.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\resource\\remove.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\_SOCET\ GXP\ 4.2.0\ PostgreSQL_installation\\resource\\invoker.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\pgsql_data.zip=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.2.0\ PostgreSQL\\data\\pg_hba.conf=Yes