INSTALLER_UI=silent

CHOSEN_FEATURE_LIST=Application,DTED0,EGM2008,VCTSvc
CHOSEN_INSTALL_FEATURE_LIST=Application,DTED0,EGM2008,VCTSvc
CHOSEN_INSTALL_SET=Custom

USER_INSTALL_DIR=C:\\Program Files\\BAE SYSTEMS\\SOCET GXP 4.5.0

DEFAULT_ADVANCED_MODE=\"\",\"Default Installation Options\"
DEFAULT_ADVANCED_MODE_1=
DEFAULT_ADVANCED_MODE_2=Default Installation Options
DEFAULT_ADVANCED_MODE_BOOLEAN_1=0
DEFAULT_ADVANCED_MODE_BOOLEAN_2=1

LICENSE_SERVER_EXISTS_1=1
LICENSE_SERVER_NAME_1= admin01.{{ system_name }}.local
LICENSE_SERVER_EXISTS_2=0
LICENSE_SERVER_NAME_2=
LICENSE_SERVER_EXISTS_3=0
LICENSE_SERVER_NAME_3=

-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\Modify_SOCET_GXP_Installation.lax=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\resource\\iawin64_x64.dll=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\resource\\iawin32.dll=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\resource\\win64_32_x64.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\resource\\remove.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\_SOCET_GXP_installation\\resource\\invoker.exe=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\Config\\Help\\EULA\\GXP-Desktop-EULA.htm=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\Help\ and\ Documentation\\Training\ and\ Support\\MyGXP\ Customer\ Portal.url=Yes
-fileOverwrite_C\:\\Program\ Files\\BAE\ SYSTEMS\\SOCET\ GXP\ 4.5.0\\Help\ and\ Documentation\\SOCET\ GXP\ Job\ Service\ Web\ Page.url=Yes
-fileOverwrite_C\:\\Program\ Files\\Common\ Files\\BAE\ SYSTEMS\\Video\ Filters\\Readme_Video_Filters.txt=Yes
