#Place any custom dnsmasq configuration files in the "/etc/dnsmasq.d" directory
#Properties from all files in /etc/dnsmasq.d and the primary dnsmasq.conf combine forming the cumulative config
#For more info:  http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html