[AppStream]
name={{system_name}} Appstream Repo
baseurl=file:///var/www/html/rhel-8-for-x86_64-appstream-rpms/
enabled=1
gpgcheck=0

[BaseOS]
name={{system_name}} BaseOS Repo
baseurl=file:///var/www/html/rhel-8-for-x86_64-baseos-rpms/
enabled=1
gpgcheck=0